.item {
    border-top: 1px #ccc dashed;
    padding: 9px 0;
}

.item-container {
    padding: 9px;
    width: calc(100% - 18px);
    max-width: 450px;
    display: inline-block;
}

.mat-small {
    color: #666;
}

.transition-color {
    transition: .35s color;
}

.late {
    color: #ff8f00;
}

.very-late {
    color: #d82424;
}

.on-time {
    color: green;
}

.blue {
    color: #496ab7;
}